@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Variables */
:root {
  --basic-black: #000000;
  --basic-black06:rgba(0, 0, 0, 0.6);
  --basic-white: #FFFFFF;
  --basic-white03: rgb(255, 255, 255, 0.3);
  --basic-dark: #333333;
  --basic-gray: #E6E6E6;
  --basic-light: #F2F2F2;
  --special-cold-light: #83b3d3;
  --special-cold-light12: rgba(131, 179, 211, 0.12);
  --special-cold-light20: rgba(131, 179, 211, 0.2);
  --special-cold-dark:#68A2CA;
  --special-warm-light: #756257;
  --special-warm-light03:rgba(117, 98, 87, 0.3);
  --special-warm-dark:#615048;
  --special-neutral-light: #7DB54F;
  --special-neutral-dark:#6C9E42;
}

/* Global styles*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container-large {
  width: 1200px;
  margin: 0 auto;
}

.container {
  padding: 0 71px;
}

.container-small {
  padding: 0 60px;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: var(--basic-black);

  background-color: var(--basic-light);
}

img {
  display: block;
}

.title {
  width: 720px;
  margin: 0 auto;
  padding: 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  width: 720px;
  margin: 0 auto;
  padding: 0;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.button {
  font-family: inherit;
  color: var(--basic-white);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  border: none;
  background-color: var(--special-warm-light);
}

.link-reset {
  color: inherit;
  text-decoration: none;
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.fieldset-reset {
  margin: 0;
  padding: 0;

  border: none;
}

/* header */

.page-header {
  display: flex;

  background-color: var(--basic-white);
}

.main-menu {
  width: 355px;
  margin-right: 117px;
}

.main-menu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-menu__item {
  position: relative;
  margin: 13px 9px 13px 0;
}

.main-menu__link {
  display: block;
  padding: 6px 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 26px;

  cursor: pointer;
}

.main-menu__link_current::after {
  content:"";
  position: absolute;
  height: 2px;
  margin: 0 12px 0 12px;
  left: 0;
  right: 0;
  bottom: -14px;

  background-color: var(--special-warm-light);
}

.main-menu__link:hover {
  color: var(--special-warm-light);
}

.main-menu__link:focus {
  outline-width: 3px;
  outline-style: solid;
  outline-color: var(--special-cold-light);
  border-radius: 10px;
}

.main-menu__link:active {
  outline: none;
  opacity: 0.3;
}

.logo {
  display: block;
  width: 138px;
  height: 65px;
  margin: 0 196px 0 0;
}

.page-header .logo__image {
  position: relative;
  z-index: 1;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 270px;
}

.user-menu__item {
  margin: 0;
  margin-right: 5px;
  cursor: pointer;
}

.user-menu__item.favorite {
  position: relative;
}

.user-menu__item.visit {
  margin-left: auto;
}

.user-menu__link {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 18px;
  min-height: 18px;
  padding: 10px;

  font-size: 16px;
  color: var(--basic-white);
}

.user-menu__item.favorite .user-menu__link::after {
  content: "12";

  position: absolute;
  left:22px;
  top:0;

  width: 19px;
  height: 19px;

  display: flex;
  align-items: center;
  justify-content: center;


  font-size: 10px;
  letter-spacing: -0.1em;
  color: var(--basic-white);

  border-radius: 50%;
  background-color: var(--special-neutral-light);
}

.button.user-menu__link {
  padding: 10px 36px;
  border-radius: 4px
}

.user-menu__item:hover path {
  fill: var(--special-warm-light);
}

.user-menu__link:focus {
  outline-width: 3px;
  outline-style: solid;
  outline-color: var(--special-cold-light);
  border-radius: 10px;
}

.button.user-menu__link:focus {
  border-radius: 4px
}


.user-menu__item.search .user-menu__link:active {
  opacity: 0.3;
  outline: none;
}

.user-menu__item.favorite .user-menu__link:active {
  outline: none;
}

.user-menu__item.favorite .user-menu__link:active path {
  fill: var(--special-warm-light03);
}

.user-menu__item.favorite .user-menu__link:active::after {
  color: var(--basic-white03);
}

.button.user-menu__link:active {
  opacity: 1;
  outline: none;

  color: var(--basic-white03);
}

/* index-main */

.index-main {
  flex-grow: 1;

  background-color: var(--basic-white);
}

.introduction__banner {
  height: 485px;
  margin-bottom: 63px;

  background-image: url("../img/backgrounds/introduction.jpg");
}

.introduction__title {
  margin-bottom: 37px;
}

.introduction__subtitle {
  margin-bottom: 85px;
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
}
.benefits__item.real-town {
  display: flex;
  flex-wrap: wrap;
}

.benefits__item:nth-child(3),
.benefits__item:nth-child(5){
  background-color: var(--special-cold-light12);
}
.benefits__item:nth-child(4) {
  background-color: var(--special-cold-light20);
}

.benefits__item-text-wrapper {
  box-sizing: border-box;
  width: 400px;
  min-height: 384px;
  padding-top: 98px;
}

.benefits__item:nth-child(1) .benefits__item-text-wrapper,
.benefits__item:nth-child(2) .benefits__item-text-wrapper{
  background-color: var(--special-cold-light);
}

.benefits__image {
  width: 800px;
  height: 384px;
}

.real-town-benefits-list {
  display:flex;
  flex-wrap: wrap;

  background-color: var(--basic-white);
}

.real-town-benefits-list__item {
  box-sizing: border-box;
  width: 400px;
  min-height: 384px;
  padding-top: 186px;
}

.real-town-benefits-list__item:nth-child(1),
.real-town-benefits-list__item:nth-child(3) {
  background-color: var(--special-cold-light12);
}

.benefits__item.bridge {
  display: flex;
  flex-wrap: wrap;
}

.benefits__item.area,
.benefits__item.road,
.benefits__item.tourists {
  width: 400px;
  min-height: 384px;
}

.benefits__title,
.real-town-benefits-list__title {
  width: 171px;
  margin: 0 auto;
  margin-bottom: 28px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
}

.real-town-benefits-list__title {
  margin-bottom: 20px;
}

.benefits__item:nth-child(1) .benefits__title,
.benefits__item:nth-child(2) .benefits__title {
  color: var(--basic-white);
}

.benefits__number,
.benefits__description,
.real-town-benefits-list__description {
  margin: 0 auto;
  text-align: center;
}

.benefits__number{
  margin-bottom: 32px;
}

.benefits__description {
  width: 250px;
}

.benefits__item.real-town .benefits__description {
  width: 220px;
}

.real-town-benefits-list__item.housing .real-town-benefits-list__description {
  width: 170px;
}

.real-town-benefits-list__item.food .real-town-benefits-list__description {
  width: 230px;
}

.real-town-benefits-list__item.souvenirs .real-town-benefits-list__description {
  width: 210px;
}

.benefits__item:nth-child(1) .benefits__number,
.benefits__item:nth-child(2) .benefits__number,
.benefits__item:nth-child(1) .benefits__description,
.benefits__item:nth-child(2) .benefits__description {
  color: var(--basic-white);
}

.hotel-search {
  padding-top: 89px;
  padding-bottom: 89px;
}

.hotel-search__title {
  margin-bottom: 30px;
}

.hotel-search__subtitle {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 60px;

  text-align: center;
}

.hotel-search__link {
  display: block;
  box-sizing: border-box;
  width: 575px;
  margin: 0 auto;
  padding: 13px 145px;

  font-size: 20px;
  line-height: 36px;
  color: var(--basic-white);

  border-radius: 10px;
}

.hotel-search__link:hover {
  background-color: var(--special-warm-dark);
}

.hotel-search__link:focus {
  outline-width: 3px;
  outline-offset: -3px;
  outline-style: solid;
  outline-color:var(--special-cold-light);
  background-color: var(--special-warm-dark);
}

.hotel-search__link:active {
  outline: none;
  color: var(--basic-white03);
}

.subscription {
  background-color: var(--basic-background);
  background-image: url("../img/backgrounds/subscrubes.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.index-main .subscription {
  padding-top: 94px;
  padding-bottom: 94px;
}

.subscription__title {
  margin-bottom: 30px;
}

.subscription__subtitle {
  width: 470px;
  margin-bottom: 47px;
}

.subscription__title,
.subscription__subtitle {
  color: var(--basic-white);
}

.subscription__form {
  width: 800px;
  margin: 0 auto;

  display: flex;
}

.subscription__input {
  box-sizing: border-box;
  width: 600px;
  padding: 16px 22px;

  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  font-size: 18px;

  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
  border: none;
  background-color: var(--basic-light);
}

.subscription__input:hover {
  background-color: var(--basic-gray);
}

.subscription__input:focus {
  outline-width: 3px;
  outline-style: solid;
  outline-color:var(--special-cold-light);
  background-color: var(--basic-gray);
}

.subscription__input:active {
  outline-width: 2px;
  outline-offset: -2px;
  outline-style: solid;
  outline-color:var(--basic-black);
}

/* Из за того что элемент в фокусе не получается увидеть :invalid,
как с этим бороться? */
.subscription__input:invalid {
  outline-width: 2px;
  outline-offset: -2px;
  outline-style: solid;
  outline-color:var(#FF5757);
}

.subscription__input::-webkit-input-placeholder {
  line-height: 26px;
  color: var(--basic-black06);
}
.subscription__input::-moz-placeholder {
  line-height: 26px;
  color: var(--basic-black06);
}
.subscription__input:-ms-input-placeholder {
  line-height: 26px;
  color: var(--basic-black06);
}
.subscription__input::-ms-input-placeholder {
  line-height: 26px;
  color: var(--basic-black06);
}
.subscription__input::placeholder {
  line-height: 26px;
  color: var(--basic-black06);
}

.subscription__button-submit {
  padding: 16px 34px;

  font-size: 20px;
  line-height: 26px;
  color: var(--basic-white);
  text-transform: uppercase;

  border: none;
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
  background-color: var(--special-cold-light);
}

.subscription__button-submit:hover {
  background-color: var(--special-cold-dark);
}

.subscription__button-submit:focus {
  outline-width: 3px;
  outline-style: solid;
  outline-color:var(--special-warm-light);
  background-color: var(--special-cold-dark);
}

.subscription__button-submit:active {
  outline: none;
  color: var(--basic-white03);
}

/* Footer */

.page-footer {
  display: flex;
  align-items: center;

  padding-top: 22px;
  padding-bottom: 30px;

  background-color: var(--basic-white);
}

.page-footer__socials-list {
  display: flex;
  flex-wrap: wrap;
  width: 129px;
  margin-right: 232px;
}
.socials-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 40px;
  margin: 0 3px 3px 0;
}
.socials-list__item:nth-child(3n) {
  margin-right: 0;
}

.socials-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.socials-list__link:hover path {
  fill: var(--special-cold-dark);
}

.socials-list__link:focus {
  outline-width: 3px;
  outline-offset: -3px;
  outline-style: solid;
  outline-color: var(--special-cold-light);
  border-radius: 10px;
}

.socials-list__link:focus path {
  fill: var(--special-cold-dark);
}

.socials-list__link:active {
  outline: none;
}

.socials-list__link:active path {
  opacity: 0.3;
}

.page-footer__contact-phone {
  min-width: 360px;
  margin-right: 209px;
}

.contact-phone__link {
  padding: 15px;

  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: var(--basic-black);

  text-decoration: none;
}

.contact-phone__link:hover {
  color: var(--special-warm-light);
}

.contact-phone__link:focus {
  outline-width: 3px;
  outline-offset: -3px;
  outline-style: solid;
  outline-color: var(--special-cold-light);
  border-radius: 10px;

  color: var(--special-warm-light);
}

.contact-phone__link:active {
  outline:none;
  opacity: 0.3;
}

.page-footer__logo-link {
  align-self: center;
 padding: 18px 19px 18px 19px;
}

.page-footer__logo-link:hover path {
  fill: var(--special-warm-light);
}

.page-footer__logo-link:focus {
  outline-width: 3px;
  outline-offset: -3px;
  outline-style: solid;
  outline-color: var(--special-cold-light);
  border-radius: 10px;
}

.page-footer__logo-link:focus path {
  fill: var(--special-warm-light);
}

.page-footer__logo-link:active {
  outline:none;
  opacity: 0.3;
}

.logo-site-developer__image {
  width: 115px;
  height: 34px;
}

/* catalog-main */

.catalog-main {
  flex-grow: 1;

  background-color: var(--basic-white);
}

.bread-crumbs-and-searching-filter-wrapper {
  padding-top: 32px;
  padding-bottom:66px;
  margin-bottom: 43px;

  background-color: var(--basic-black06);
  background-image: url("../img/backgrounds/searching-filter.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.bread-crumbs {
  margin-bottom: 29px;
}

.bread-crumbs__title {
  margin: 0;
  padding: 0;

  font-size: 60px;
  line-height: 78px;
  color: var(--basic-white);
}

.bread-crumbs__list {
  display: flex;
  flex-wrap: wrap;
}

.bread-crumbs__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  min-height: 27px;
  min-width: 28px;
  margin: 0 0 6px 0;

  font-size: 16px;
  color: var(--basic-white);
}

.bread-crumbs__item + .bread-crumbs__item {
  margin-left: 10px;
}

.bread-crumbs__item:not(:last-child ):after {
  content: "";
  position: absolute;
  left: 30px;
  width: 5px;
  height: 8px;
  top: 50%;

  background-image: url("../img/icons/pagination-arrow.svg");

  transform: translateY(-50%);
}

.bread-crumbs__link {
  padding: 3px 8px 3px 8px;
}

.bread-crumbs__link:hover {
  opacity: 0.6;
}

.bread-crumbs__link:focus {
  outline-width: 3px;
  outline-offset: -3px;
  outline-style: solid;
  outline-color: var(--special-cold-light);
  border-radius: 4px;
}

/* Где нибудь в инструментах разработчика можно инспектировать
псевдоклассы и псевдоэлементы? */
.bread-crumbs__link:active {
  outline: none;
  opacity: 0.3;
}

.searching-filter__form {
  display: grid;
  grid-template-columns: 1fr min-content;
}

.searching-filter__list {
  display: grid;
  grid-template-columns: 161px 161px 1fr;
  column-gap: 57px;
}

.searching-filter__item {
  min-height: 150px;
}

/* .searching-filter__item.input-checkbox,
.searching-filter__item.input-radio {
} */

.searching-filter__item.input-checkbox {
  grid-column: 1/2;
}

.searching-filter__item.input-radio {
  grid-column: 2/3;
}

.searching-filter__item.price {
  width: 297px;
  margin-right:69px;

  justify-self: end;
}

.searching-filter__legend {
  margin-bottom: 33px;
  padding: 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: var(--basic-white);
}

.searching-filter__label {
  padding-left: 16px;

  font-size: 18px;
  line-height: 23px;
  color: var(--basic-white);
}

.searching-filter__inner-item {
  margin-bottom: 14px;
}

.searching-filter__scale {
  width: 287px;
  height: 4px;

  background-color: var(--basic-white03);
}

.searching-filter__bar {
  width: 227px;
  height: 4px;

  background-color: var(--basic-white);
}

.searching-filter__toggle {
  width: 20px;
  height: 20px;

  background-color: var(--basic-white);
  border-radius: 5px;
}

.searching-filter__min-price-input,
.searching-filter__max-price-input {
  font-size: 18px;
  line-height: 23px;
  color: var(--basic-white);

  background-color: inherit;
}

.searching-filter__fieldset.price .searching-filter__label {
  color: var(--basic-white03);
}

.searching-filter__button-wrapper {
  display: flex;
  flex-direction: column;
}

.searching-filter__submit {
  margin: auto 0 7px 0;
  padding: 15px 35px;

  font-size: 16px;
  line-height: 21px;

  border-radius: 4px;
  background-color: var(--special-cold-light);
}

.searching-filter__submit:hover {
  background-color: var(--special-cold-dark);
}
.searching-filter__submit:focus {
  background-color: var(--special-cold-dark);

  outline-width: 3px;
  outline-color: var(--basic-white);
  outline-offset: -3px;
  outline-style: solid;
}

.searching-filter__submit:active {
  outline: none;
  opacity: 0.3;
}

.searching-filter__reset {
  padding: 14px 35px;

  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  color: var(--basic-white);

  border: none;
  border-radius: 4px;
  background-color: inherit;
}

.searching-filter__reset:hover {
  opacity: 0.6;
}

.searching-filter__reset:focus {
  opacity: 1;

  outline-width: 3px;
  outline-offset: -3px;
  outline-color: var(--special-cold-light);
  outline-style: solid;
}

.searching-filter__reset:active {
  outline: none;
  opacity: 0.3;
}

.searching-results {
  margin-bottom: 27px;
}

.searching-results__container {
  display: flex;
  margin-bottom: 34px;
}

.searching-results__text {
  width: 340px;
  margin: 0 192px 0 0;
  padding-top: 5px;

  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.searching-results__price-list {
  width: 285px;
  padding: 10px 12px;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: var(--basic-dark);
}

.searching-results__form {
  margin-right: auto;
}

.searching-results__form fieldset {
  margin: 0;
  padding: 0;
}

.searching-results__display-list {
  width: 163px;
  display: flex;
  flex-wrap: wrap;
}

.searching-results__display-item {
  margin-right: 8px;
  margin-bottom: 8px;
}

.searching-results__display-item:nth-child(3n) {
  margin-right: 0;
}

.searching-results__item_current .searching-results__display-button {
  outline: 2px solid var(--basic-black);
  border-radius: 4px;
}

.searching-results__display-button {
  min-width: 48px;
  min-height: 48px;

  border-radius: 4px;
  border:none;
  background-color: inherit;

  outline: 2px solid var(--basic-gray);
  cursor: pointer;
}

.searching-results__display-button.mode-tiles {
  background-image: url("../img/icons/mode-tiles.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

.searching-results__display-button.mode-one-result {
  background-image: url("../img/icons/mode-one-result.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

.searching-results__display-button.mode-list {
  background-image: url("../img/icons/mode-list.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

.searching-results__display-button:hover {
  outline-color: var(--special-cold-light);
}

.searching-results__display-button:focus {
  outline-color: var(--special-cold-light);
}

.searching-results__display-button:active {
  outline-color: var(--basic-black);
}

.searching-results__list {
  width: 1060px;
  margin-bottom: 32px;

  display: flex;
  flex-direction: column;
}

.searching-results__item {
  display: grid;
  grid-template-columns: 180px 25px min-content min-content 1fr min-content;
  grid-template-rows: 41px 55px;
  box-sizing: border-box;
  padding: 17px 0 26px 0;

  border-top: 1px solid var(--basic-gray);
}

.searching-results__item:last-child {
  border-bottom: 1px solid var(--basic-gray);
}

.searching-results__item-image {
  grid-column: 1/2;
  grid-row: 1/-1;
  width: 180px;
  height: 120px;
  margin-top: 14px;

  object-fit: cover;
}

.searching-results__item-image:hover {
  opacity: 0.6;
}

.searching-results__item-image:focus {
  opacity: 1;

  outline-width: 3px;
  outline-color: var(--special-cold-light);
  outline-style: solid;
}

.searching-results__item-image:active {
  outline: none;
  opacity: 0.3;
}

.searching-results__title-link {
  position: relative;
  grid-column: 3/6;
  grid-row: 1/2;
  margin-right: auto;
}

.searching-results__item-title {
  margin: 0;
  padding: 10px 15px 10px 15px;

  font-weight: 700;
  font-size: 24px;
  line-height: 31px;

  border-radius: 10px;
}

.searching-results__title-link:hover .searching-results__item-title {
  color: var(--special-warm-light);
}

.searching-results__title-link:focus .searching-results__item-title {
  outline-width: 3px;
  outline-offset: -3  px;
  outline-color: var(--special-cold-light);
  outline-style: solid;
}

.searching-results__title-link:active .searching-results__item-title {
  outline: none;
  opacity: 0.3;
}

.searching-results__item-name,
.searching-results__item-price {
  margin: 0;
  padding: 0;

  line-height: 23px;
  color: var(--basic-dark);
}
.searching-results__item-name {
  grid-column: 3/4;
  grid-row: 2/3;
  margin-right: 8px;
  margin-left:15px;
}

.searching-results__item-price {
  grid-column: 4/5;
  grid-row: 2/3;
}

.searching-results__more-details {
  display: block;
  box-sizing: border-box;
  min-width: 151px;
  padding:10px 32px;
  margin: 0px 8px 0px 10px;
  grid-column: 3/4;
  grid-row: 3/4;

  font-size: 16px;
  color: var(--basic-white);

  border-radius: 4px;
}

.searching-results__more-details:hover {
  background-color: var(--special-warm-dark);
}

.searching-results__more-details:focus {
  outline-width: 3px;
  outline-offset: -3  px;
  outline-color: var(--special-cold-light);
  outline-style: solid;
  background-color: var(--special-warm-dark);
}

.searching-results__more-details:active {
  outline: none;
  color: var(--basic-white03);
}

.searching-results__to-favorites {
  display: block;
  box-sizing: border-box;
  min-width: 160px;
  grid-column: 4/5;
  grid-row: 3/4;

  font-size: 16px;
  line-height: 21px;
  text-align: center;

  border-radius: 4px;
  background-color: var(--special-cold-light);
}

.searching-results__to-favorites:hover {
  background-color: var(--special-cold-dark);
}

.searching-results__to-favorites:focus {
  outline-width: 3px;
  outline-offset: -3  px;
  outline-color: var(--special-warm-dark);
  outline-style: solid;
  background-color: var(--special-cold-dark);
}

.searching-results__to-favorites:active {
  outline: none;
  color: var(--basic-white03);
}

.searching-results__to-favorites.in-favorites {
  background-color: var(--special-neutral-light);
}

.searching-results__to-favorites.in-favorites:hover {
  background-color: var(--special-neutral-dark);
}

.searching-results__to-favorites.in-favorites:focus {
  outline-width: 3px;
  outline-offset: -3  px;
  outline-color: var(--special-warm-dark);
  outline-style: solid;
  background-color: var(--special-neutral-dark);
}

.searching-results__to-favorites.in-favorites:active {
  outline: none;
  color: var(--basic-white03);
}

.searching-results__rating-stars-list {
  grid-column: -1/-2;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 8px;
}

.searching-results__rating-stars-item {
  width: 18px;
  height: 17px;
  background-image: url(../img/icons/star.svg);
  background-size: 18px 17px;
}

.searching-results__rating-stars-item {
  margin-right: 7px;
}


.searching-results__rating {
  width: 160px;
  margin: 0;
  padding: 10px 0;
  grid-column: -1/-2;
  grid-row: 3/4;
  justify-self: end;

  font-size: 16px;
  text-align: center;
  text-transform: uppercase;

  background-color: var(--basic-light);
}

.searching-results__load-more {
  display: block;
  width: 625px;
  margin: 0 auto 30px auto;
  padding: 13px 0;

  font-size: 20px;
  line-height: 26px;
  text-align: center;

  border-radius: 4px;
  background-color: var(--special-cold-light);
}

.searching-results__load-more:hover {
  background-color: var(--special-cold-dark);
}

.searching-results__load-more:focus {
  outline-width: 3px;
  outline-offset: -3  px;
  outline-color: var(--special-warm-dark);
  outline-style: solid;
  background-color: var(--special-cold-dark);
}

.searching-results__load-more:active {
  outline: none;
  color: var(--basic-white03);
}

.pagination {
  display: flex;
  width: 1057px;
  padding: 30px 0;
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  width: 670px;
}

.pagination__item {
  min-width: 55px;
  min-height: 55px;
  margin: 0 8px 8px 0;
}

.pagination__link {
  display: flex;
  justify-content: center;
  padding: 17px;

  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: var(--basic-white);

  background-color: var(--special-cold-light);
  border-radius: 4px;
}

.pagination__link_current {
  color: var(--basic-black);
  background-color: var(--basic-light);
}

.pagination__link:hover {
  background-color: var(--special-cold-dark);
}

.pagination__link:focus {
  outline-width: 3px;
  outline-offset: -3  px;
  outline-color: var(--special-warm-light);
  outline-style: solid;
  background-color: var(--special-cold-dark);
}

.pagination__link:active {
  outline: none;
  color: var(--basic-white03);
}

.pagination__form {
  width: 386px;

  margin-left: auto;
}

.pagination__fieldset {
  display: flex;
  align-items: center;
}

.pagination__select-list-lable {
  margin-right: auto;

  line-height: 23px;
}
.pagination__select-list{
  display: block;
  width: 160px;
  height: 48px;
  margin: 4px 0;
}

.catalog-main .subscription {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 115px;
}

.catalog-main .subscription {
  background-image: none;
  background-color: inherit;
}

.catalog-main .subscription__title,
.catalog-main .subscription__subtitle {
  color: var(--basic-black);
}
