@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-black06:rgba(0, 0, 0, 0.6);
  --basic-white: #FFFFFF;
  --basic-white03: rgb(255, 255, 255, 0.3);
  --basic-white06: rgb(255, 255, 255, 0.6);
  --basic-dark: #333333;
  --basic-gray: #E6E6E6;
  --basic-light: #F2F2F2;
  --special-cold-light: #83b3d3;
  --special-cold-light12: rgba(131, 179, 211, 0.12);
  --special-cold-light20: rgba(131, 179, 211, 0.2);
  --special-cold-dark:#68A2CA;
  --special-warm-light: #756257;
  --special-warm-light03:rgba(117, 98, 87, 0.3);
  --special-warm-dark:#615048;
  --special-neutral-light: #7DB54F;
  --special-neutral-dark: #6C9E42;
  --error: #FF5757;
}

/* Global styles*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container-large {
  width: 1200px;
  margin: 0 auto;
}

.container {
  padding: 0 71px;
}

.container-small {
  padding: 0 60px;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: var(--basic-black);

  background-color: var(--basic-light);
}

img {
  object-fit: cover;
}

.title {
  width: 720px;
  margin: 0 auto;
  padding: 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  width: 720px;
  margin: 0 auto;
  padding: 0;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.button {
  font-family: inherit;
  color: var(--basic-white);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  border: none;
  background-color: var(--special-warm-light);

  cursor: pointer;
}

.link-reset {
  color: inherit;
  text-decoration: none;

  cursor: pointer;
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.fieldset-reset {
  margin: 0;
  padding: 0;

  border: none;
}


.error {
  outline-width: 2px;
  outline-offset: -2px;
  outline-style: solid;
  outline-color: var(--error);
}

.page-modal__error {
  color: var(--error);
}

/* header */

.page-header {
  display: flex;

  background-color: var(--basic-white);
}

.main-menu {
  width: 355px;
  margin-right: 116px;
}

.main-menu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-menu__item {
  position: relative;
  margin: 13px 9px 13px 0;
}

.main-menu__link {
  display: block;
  padding: 6px 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.main-menu__link_current::after {
  content:"";
  position: absolute;
  height: 2px;
  margin: 0 12px 0 12px;
  left: 0;
  right: 0;
  bottom: -14px;

  background-color: var(--special-warm-light);
}

.main-menu__link:hover {
  color: var(--special-warm-light);
  transition: color ease-in-out.2s;
}

.main-menu__link:focus {
  outline-width: 3px;
  outline-style: solid;
  outline-color: var(--special-cold-light);
  border-radius: 10px;
}

.main-menu__link:active {
  outline: none;
  opacity: 0.3;
}

.logo {
  display: block;
  width: 138px;
  height: 65px;
  margin: 0 198px 0 0;
}

.page-header .logo__image {
  position: relative;
  z-index: 1;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 266px;
}

.user-menu__item {
  margin: 0;
  margin-right: 3px;
}

.user-menu__item.visit {
  margin-left: auto;
}

.user-menu__item.favorite {
  position: relative;
}

.user-menu__link {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 18px;
  min-height: 18px;
  padding: 10px;

  font-size: 16px;
  color: var(--basic-white);
}

.user-menu__number-in-favorites {
  position: absolute;
  left:22px;
  top:0;

  width: 19px;
  height: 19px;

  display: flex;
  align-items: center;
  justify-content: center;


  font-size: 10px;
  letter-spacing: -0.1em;
  color: var(--basic-white);

  border-radius: 50%;
  background-color: var(--special-neutral-light);
}

.button.user-menu__link {
  padding: 9px 36px;
  border-radius: 4px;
  background-color: var(--special-warm-light);
}

.user-menu__item:hover path {
  fill: var(--special-warm-light);
  transition: fill ease-in-out.2s;
}

.user-menu__item.visit:hover .button.user-menu__link{
  background-color: var(--special-warm-dark);
  border-radius: 4px;
  transition: background-color ease-in-out.2s;
}

.user-menu__link:focus {
  outline-width: 3px;
  outline-style: solid;
  outline-color: var(--special-cold-light);
  border-radius: 10px;
}

.button.user-menu__link:focus {
  border-radius: 4px
}


.user-menu__item.search .user-menu__link:active {
  opacity: 0.3;
  outline: none;
}

.user-menu__item.favorite .user-menu__link:active {
  outline: none;
}

.user-menu__item.favorite>.user-menu__link:active path {
  fill: var(--special-warm-light03);
}

.user-menu__item.favorite:active .user-menu__number-in-favorites {
  color: var(--basic-white03);
}

.button.user-menu__link:active {
  opacity: 1;
  outline: none;

  color: var(--basic-white03);
}

/* index-main */

.index-main {
  flex-grow: 1;

  background-color: var(--basic-white);
}

.introduction__banner {
  height: 485px;
  margin-bottom: 61px;

  background-image: url("../img/backgrounds/introduction.jpg");
}

.introduction__title {
  margin-bottom: 37px;
}

.introduction__subtitle {
  margin-bottom: 86px;
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
}
.benefits__item.real-town {
  display: flex;
  flex-wrap: wrap;
}

.benefits__item:nth-child(3),
.benefits__item:nth-child(5){
  background-color: var(--special-cold-light12);
}
.benefits__item:nth-child(4) {
  background-color: var(--special-cold-light20);
}

.benefits__item-text-wrapper {
  box-sizing: border-box;
  width: 400px;
  min-height: 384px;
  padding-top: 98px;
  padding-bottom: 10px;
}

.benefits__item:nth-child(1) .benefits__item-text-wrapper,
.benefits__item:nth-child(2) .benefits__item-text-wrapper{
  background-color: var(--special-cold-light);
}

.benefits__image {
  width: 800px;
  height: 384px;
}

.real-town-benefits-list {
  display:flex;
  flex-wrap: wrap;

  background-color: var(--basic-white);
}

.real-town-benefits-list__item {
  box-sizing: border-box;
  width: 400px;
  min-height: 384px;
  padding-top: 186px;
  padding-bottom: 10px;
}

.real-town-benefits-list__item:nth-child(1),
.real-town-benefits-list__item:nth-child(3) {
  background-color: var(--special-cold-light12);
}

.real-town-benefits-list__item.housing {
  background-image: url("../img/icons/housing.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: 163px 89px;
}

.real-town-benefits-list__item.food {
  background-image: url("../img/icons/food.svg");
  background-repeat: no-repeat;
  background-size: 74px 70px;
  background-position: 163px 91px;
}

.real-town-benefits-list__item.souvenirs {
  background-image: url("../img/icons/souvenirs.svg");
  background-repeat: no-repeat;
  background-size: 64px 76px;
  background-position: 168px 85px;
}

.benefits__item.bridge {
  display: flex;
  flex-wrap: wrap;
}

.benefits__item.area,
.benefits__item.road,
.benefits__item.tourists {
  width: 400px;
  min-height: 384px;
}

.benefits__title,
.real-town-benefits-list__title {
  width: 172px;
  margin: 0 auto;
  margin-bottom: 28px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
}

.real-town-benefits-list__title {
  margin-bottom: 17px;
}

.benefits__item:nth-child(1) .benefits__title,
.benefits__item:nth-child(2) .benefits__title {
  color: var(--basic-white);
}

.benefits__number,
.benefits__description,
.real-town-benefits-list__description {
  margin: 0 auto;
  text-align: center;
}

.benefits__number{
  margin-bottom: 30px;
}

.benefits__description {
  width: 250px;
}

.benefits__item.real-town .benefits__description {
  width: 220px;
}

.real-town-benefits-list__item.housing .real-town-benefits-list__description {
  width: 170px;
}

.real-town-benefits-list__item.food .real-town-benefits-list__description {
  width: 230px;
}

.real-town-benefits-list__item.souvenirs .real-town-benefits-list__description {
  width: 210px;
}

.benefits__item:nth-child(1) .benefits__number,
.benefits__item:nth-child(2) .benefits__number,
.benefits__item:nth-child(1) .benefits__description,
.benefits__item:nth-child(2) .benefits__description {
  color: var(--basic-white);
}

.hotel-search {
  padding-top: 88px;
  padding-bottom: 89px;
}

.hotel-search__title {
  margin-bottom: 30px;
}

.hotel-search__subtitle {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 58px;

  text-align: center;
}

.hotel-search__link {
  display: block;
  box-sizing: border-box;
  width: 575px;
  margin: 0 auto;
  padding: 13px 145px;

  font-size: 20px;
  line-height: 36px;
  color: var(--basic-white);

  border-radius: 10px;
}

.hotel-search__link:hover {
  background-color: var(--special-warm-dark);
  transition: background-color ease-in-out.2s;
}

.hotel-search__link:focus {
  outline-width: 3px;
  outline-offset: -3px;
  outline-style: solid;
  outline-color:var(--special-cold-light);
  background-color: var(--special-warm-dark);
}

.hotel-search__link:active {
  outline: none;
  color: var(--basic-white03);
}

.subscription {
  background-color: var(--basic-dark);
  background-image: url("../img/backgrounds/subscrubes.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.index-main .subscription {
  padding-top: 93px;
  padding-bottom: 95px;
}

.subscription__title {
  margin-bottom: 30px;
}

.subscription__subtitle {
  width: 470px;
  margin-bottom: 47px;
}

.subscription__title,
.subscription__subtitle {
  color: var(--basic-white);
}

.subscription__form {
  width: 800px;
  margin: 0 auto;

  display: flex;
  align-items: stretch;
}

.subscription__input {
  box-sizing: border-box;
  width: 600px;
  padding: 17px 22px;

  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  font-size: 18px;

  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
  border: none;
  background-color: var(--basic-light);
}

.subscription__input:hover {
  background-color: var(--basic-gray);
  transition: background-color ease-in-out.2s;
}

.subscription__input:focus {
  outline-width: 3px;
  outline-style: solid;
  outline-color:var(--special-cold-light);
  background-color: var(--basic-gray);
}

.subscription__input:active {
  outline-width: 2px;
  outline-offset: -2px;
  outline-style: solid;
  outline-color:var(--basic-black);
}

.subscription__input::-webkit-input-placeholder {
  line-height: 26px;
  color: var(--basic-black06);
}
.subscription__input::-moz-placeholder {
  line-height: 26px;
  color: var(--basic-black06);
}
.subscription__input:-ms-input-placeholder {
  line-height: 26px;
  color: var(--basic-black06);
}
.subscription__input::-ms-input-placeholder {
  line-height: 26px;
  color: var(--basic-black06);
}
.subscription__input::placeholder {
  line-height: 26px;
  color: var(--basic-black06);
}

.subscription__button-submit {
  padding: 17px 34px;

  font-size: 20px;
  line-height: 26px;
  color: var(--basic-white);
  text-transform: uppercase;

  border: none;
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
  background-color: var(--special-cold-light);
}

.subscription__button-submit:hover {
  background-color: var(--special-cold-dark);
  transition: background-color ease-in-out.2s;
}

.subscription__button-submit:focus {
  outline-width: 3px;
  outline-style: solid;
  outline-color:var(--special-warm-light);
  background-color: var(--special-cold-dark);
}

.subscription__button-submit:active {
  outline: none;
  color: var(--basic-white03);
}

/* Footer */

.page-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  padding-top: 17px;
  padding-bottom: 30px;

  background-color: var(--basic-white);
}

.page-footer__socials-list {
  display: flex;
  flex-wrap: wrap;
  width: 128px;
  margin-right: 54px;
}
.socials-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 40px;
  margin: 0 4px 3px 0;
}
.socials-list__item:nth-child(3n) {
  margin-right: 0;
}

.socials-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.socials-list__link:hover path {
  fill: var(--special-cold-dark);
  transition: fill ease-in-out.2s;
}

.socials-list__link:focus {
  outline-width: 3px;
  outline-offset: -3px;
  outline-style: solid;
  outline-color: var(--special-cold-light);
  border-radius: 10px;
}

.socials-list__link:focus path {
  fill: var(--special-cold-dark);
}

.socials-list__link:active {
  outline: none;
}

.socials-list__link:active path {
  opacity: 0.3;
}

.page-footer__contact-phone {
  width: 720px;
  display: flex;
  justify-content: center;

  margin-right: 24px;
}

.contact-phone__link {
  padding: 15px;

  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;

  color: var(--basic-black);

  text-decoration: none;
}

.contact-phone__link:hover {
  color: var(--special-warm-light);
  transition: color ease-in-out.2s;
}

.contact-phone__link:focus {
  outline-width: 3px;
  outline-offset: -3px;
  outline-style: solid;
  outline-color: var(--special-cold-light);
  border-radius: 10px;

  color: var(--special-warm-light);
}

.contact-phone__link:active {
  outline:none;
  opacity: 0.3;
}

.page-footer__logo-link {
  position: relative;
  left:8px;
  padding: 24px 19px 18px 19px;
}

.page-footer__logo-link:hover path {
  fill: var(--special-warm-light);
  transition: fill ease-in-out.2s;
}

.page-footer__logo-link:focus {
  outline-width: 3px;
  outline-offset: -3px;
  outline-style: solid;
  outline-color: var(--special-cold-light);
  border-radius: 10px;
}

.page-footer__logo-link:focus path {
  fill: var(--special-warm-light);
}

.page-footer__logo-link:active {
  outline:none;
  opacity: 0.3;
}

.logo-site-developer__image {
  width: 115px;
  height: 34px;
}

/* catalog-main */

.catalog-main {
  flex-grow: 1;

  background-color: var(--basic-white);
}

.bread-crumbs-and-searching-filter-wrapper {
  padding-top: 29px;
  padding-bottom:70px;
  margin-bottom: 44px;

  background-color: var(--basic-dark);
  background-image: url("../img/backgrounds/searching-filter.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: 100% 100%;
}

.bread-crumbs {
  margin-bottom: 28px;
}

.bread-crumbs__title {
  margin: 3px 0 0 0;
  padding: 0;

  font-size: 60px;
  line-height: 78px;
  color: var(--basic-white);
}

.bread-crumbs__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  position: relative;
  top: -8px;
  left: -5px;
}

.bread-crumbs__item {
  position: relative;
  display: flex;
  align-items: center;

  box-sizing: border-box;
  min-height: 27px;
  min-width: 28px;
  margin: 3px 0 6px 0;

  font-size: 16px;
  color: var(--basic-white);
}

.bread-crumbs__item + .bread-crumbs__item {
  margin-left: 10px;
}

.bread-crumbs__item:not(:last-child ):after {
  content: "";
  position: absolute;
  left: 30px;
  width: 5px;
  height: 8px;
  top: 50%;

  background-image: url("../img/icons/pagination-arrow.svg");

  transform: translateY(-50%);
}

.bread-crumbs__link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 8px;
}

.bread-crumbs__link:hover {
  opacity: 0.6;
  transition: opacity ease-in-out.2s;
}

.bread-crumbs__link:focus {
  outline-width: 3px;
  outline-offset: -3px;
  outline-style: solid;
  outline-color: var(--special-cold-light);
  border-radius: 4px;
}

.bread-crumbs__link:active {
  outline: none;
  opacity: 0.3;
}

.searching-filter__form {
  display: grid;
  grid-template-columns: 1fr min-content;
}

.searching-filter__list {
  display: grid;
  grid-template-columns: 161px 161px 1fr;
  column-gap: 57px;
}

.searching-filter__item {
  min-height: 150px;
}

.searching-filter__item.input-checkbox {
  grid-column: 1/2;
}

.searching-filter__item.input-radio {
  grid-column: 2/3;
}

.searching-filter__item.price {
  width: 297px;
  margin-right:70px;

  justify-self: end;
}

.searching-filter__legend {
  margin-bottom: 30px;
  padding: 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: var(--basic-white);
}

.searching-filter__item.price .searching-filter__legend {
  margin-bottom: 34px;
}

.searching-filter__price-controls {
  position: relative;
  display: flex;

  margin-bottom: 28px;
}

.searching-filter__label {
  display: block;
  position: relative;
  padding-left: 39px;

  font-size: 18px;
  line-height: 23px;
  color: var(--basic-white);

  cursor: pointer;
}

.input-checkbox .searching-filter__control-mark{
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;

  background-color: var(--basic-white);

  border-radius: 4px;
}

.searching-filter__input.checkbox:hover + .searching-filter__control-mark {
  background-color: var(--basic-white06);
  transition: background-color ease-in-out.2s;
}

.searching-filter__input.checkbox:focus + .searching-filter__control-mark {
  background-color: var(--basic-white06);

  outline-width: 3px;
  outline-style: solid;
  outline-color: var(--special-cold-light);
}

.searching-filter__input.checkbox:active + .searching-filter__control-mark {
  background-color: var(--basic-white03);
}

.searching-filter__input.checkbox:checked + .searching-filter__control-mark {
  background-image: url("../img/icons/cheked.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 13px 10px;
}

.input-radio .searching-filter__control-mark{
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;

  background-color: var(--basic-white);

  border-radius: 50%;
}

.searching-filter__input.radio:focus + .searching-filter__control-mark {
  outline-width: 3px;
  outline-style: solid;
  outline-color: var(--special-cold-light);
}

.searching-filter__input.radio:active + .searching-filter__control-mark {
  outline: none;
}

.searching-filter__input.radio:checked + .searching-filter__control-mark::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 5px;
  left: 5px;

  background-color: #3F5E72;
  border-radius: 50%;
}

.searching-filter__item.price .searching-filter__label {
  padding: 0;
}

.searching-filter__inner-item {
  margin-bottom: 13px;
}

.searching-filter__scale {
  width: 287px;
  height: 4px;

  background-color: var(--basic-white03);
}

.searching-filter__bar {
  position: relative;
  height: 4px;

  background-color: var(--basic-white);
}

.searching-filter__toggle {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;

  background-color: var(--basic-white);
  border: none;
  border-radius: 5px;
}

.toggle-min {
  left: 0;
  top: 50%;

  transform: translateY(-50%);
}

.toggle-max {
  right: 0;
  top: 50%;

  transform: translateY(-50%);
}

.searching-filter__toggle:focus {
  outline-width: 3px;
  outline-style: solid;
  outline-color: var(--special-cold-light);
}

.searching-filter__toggle:active{
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--special-cold-light);
}

.searching-filter__min-price-input,
.searching-filter__max-price-input {
  box-sizing: border-box;
  width: 143px;
  font-size: 18px;
  line-height: 23px;
  color: var(--basic-white);
  padding: 13px 23px 13px 16px;

  background-color: inherit;
  border:none;

  -webkit-appearance: textfield;
  -moz-appearance: textfield;
       appearance: textfield;
  outline-width: 2px;
  outline-offset: -2px;
  outline-style: solid;
  outline-color: var(--basic-white);
}

.searching-filter__min-price-input::-webkit-inner-spin-button,
.searching-filter__max-price-input::-webkit-inner-spin-button  {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.searching-filter__min-price-input {
  border-radius: 4px 0px 0px 4px;
}

.searching-filter__max-price-input {
  border-radius: 0px 4px 4px 0px;
}

.searching-filter__min-price-input:hover,
.searching-filter__max-price-input:hover {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--basic-white06);
  transition: outline-width ease-in-out.2s,
              outline-style ease-in-out.2s,
              outline-color ease-in-out.2s;
}

.searching-filter__min-price-input:focus,
.searching-filter__max-price-input:focus {
  box-shadow: 0px 0px 0px 3px var(--special-cold-light);
}

.searching-filter__min-price-input:active,
.searching-filter__max-price-input:active {
  background-color: var(--special-warm-light);
}

.searching-filter__input-min-wrapper::before {
  content: "от";
  position: absolute;
  left: 110px;
  top: 50%;
  width: 17px;
  height: 23px;

  color: var(--basic-white03);

  transform: translateY(-50%);
}

.searching-filter__input-max-wrapper::after {
  content: "до";
  position: absolute;
  right: 21px;
  top: 50%;
  width: 17px;
  height: 23px;

  color: var(--basic-white03);

  transform: translateY(-50%);
}


.searching-filter__fieldset.price .searching-filter__label {
  color: var(--basic-white03);
}

.searching-filter__button-wrapper {
  display: flex;
  flex-direction: column;
}

.searching-filter__submit {
  margin: auto 0 7px 0;
  padding: 13px 35px;

  font-size: 16px;
  line-height: 21px;

  border-radius: 4px;
  background-color: var(--special-cold-light);
}

.searching-filter__submit:hover {
  background-color: var(--special-cold-dark);
  transition: background-color ease-in-out.2s;
}
.searching-filter__submit:focus {
  background-color: var(--special-cold-dark);

  outline-width: 3px;
  outline-color: var(--basic-white);
  outline-offset: -3px;
  outline-style: solid;
}

.searching-filter__submit:active {
  outline: none;
  opacity: 0.3;
}

.searching-filter__reset {
  padding: 14px 35px;

  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  color: var(--basic-white);

  border: none;
  border-radius: 4px;
  background-color: inherit;
  cursor: pointer;
}

.searching-filter__reset:hover {
  opacity: 0.6;
  transition: opacity ease-in-out.2s;
}

.searching-filter__reset:focus {
  opacity: 1;

  outline-width: 3px;
  outline-offset: -3px;
  outline-color: var(--special-cold-light);
  outline-style: solid;
}

.searching-filter__reset:active {
  outline: none;
  opacity: 0.3;
}

.searching-results {
  margin-bottom: 27px;
}

.searching-results__container {
  display: flex;
  margin-bottom: 38px;
}

.searching-results__text {
  width: 340px;
  margin: 0 189px 0 0;
  padding-top: 5px;

  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.searching-results__price-list {
  box-sizing: border-box;
  height: 48px;
  width: 285px;
  padding: 0 35px 3px 17px;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: var(--basic-dark);

  background-image: url(..//img/icons/dropdown.svg);
  background-repeat: no-repeat;
  background-position: 252px 50%;
  border: 2px solid var(--basic-gray);
  border-radius: 4px;

  appearance: none;
  cursor: pointer;
}

.searching-results__price-list:hover {
  outline-width: 3px;
  outline-offset: -3px;
  outline-style: solid;
  outline-color:var(--special-cold-light);
  transition: outline-width ease-in-out.2s,
              outline-offset ease-in-out.2s,
              outline-style ease-in-out.2s,
              outline-color ease-in-out.2s;

}

.searching-results__price-list:focus {
  outline-width: 3px;
  outline-offset: -3px;
  outline-style: solid;
  outline-color:var(--special-cold-light);
}

.searching-results__price-list:active {
  opacity: 0.6;
}

.searching-results__form {
  margin-right: auto;
}

.searching-results__form fieldset {
  margin: 0;
  padding: 0;
}

.searching-results__display-list {
  width: 161px;
  display: flex;
  flex-wrap: wrap;
}

.searching-results__display-item {
  margin-right: 9px;
  margin-bottom: 7px;
}

.searching-results__display-item:nth-child(3n) {
  margin-right: 0;
}

.searching-results__item_current .searching-results__display-button {
  outline: 2px solid var(--basic-black);
  border-radius: 4px;
}

.searching-results__display-button {
  width: 47px;
  height: 45px;

  border-radius: 4px;
  border:none;
  background-color: inherit;

  outline: 2px solid var(--basic-gray);
  cursor: pointer;
}

.searching-results__display-button.mode-tiles {
  background-image: url("../img/icons/mode-tiles.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

.searching-results__display-button.mode-one-result {
  background-image: url("../img/icons/mode-one-result.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

.searching-results__display-button.mode-list {
  background-image: url("../img/icons/mode-list.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

.searching-results__display-button:hover {
  outline-color: var(--special-cold-light);
  transition: outline-color ease-in-out.2s;
}

.searching-results__display-button:focus {
  outline-color: var(--special-cold-light);
}

.searching-results__display-button:active {
  outline-color: var(--basic-black);
}

.searching-results__list {
  margin-bottom: 29px;

  display: flex;
  flex-direction: column;
}

.searching-results__item {
  display: grid;
  grid-template-columns: 180px 39px min-content min-content 1fr min-content;
  grid-template-rows: min-content min-content min-content;
  align-items: center;
  box-sizing: border-box;

  padding: 24px 0 28px 0;

  border-top: 1px solid var(--basic-gray);
}

.searching-results__item:last-child {
  border-bottom: 1px solid var(--basic-gray);
}

.searching-results__item-image {
  grid-column: 1/2;
  grid-row: 1/-1;
  width: 180px;
  height: 120px;
  margin: 4px 0 0 2px;

  object-fit: cover;
  cursor: pointer
}

.searching-results__item-image:hover {
  opacity: 0.6;
  transition: opacity ease-in-out.2s;
}

.searching-results__item-image:focus {
  opacity: 1;

  outline-width: 3px;
  outline-color: var(--special-cold-light);
  outline-style: solid;
}

.searching-results__item-image:active {
  outline: none;
  opacity: 0.3;
}

.searching-results__title-link {
  width: auto;
  grid-column: 3/6;
  grid-row: 1/2;
  margin-right: auto;
}

.searching-results__title-link:focus-visible {
  outline: none;
}

.searching-results__item-title {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 35px;

  border-radius: 10px;
}

.searching-results__title-link:hover .searching-results__item-title {
  color: var(--special-warm-light);
  transition: color ease-in-out.2s;
}

.searching-results__title-link:focus .searching-results__item-title {
  outline-width: 3px;
  outline-offset: 3px;
  outline-color: var(--special-cold-light);
  outline-style: solid;
}

.searching-results__title-link:active .searching-results__item-title {
  outline: none;
  opacity: 0.3;
}

.searching-results__item-name,
.searching-results__item-price {
  margin: 0;
  padding: 0;

  line-height: 23px;
  color: var(--basic-dark);
}
.searching-results__item-name {

  grid-column: 3/4;
  grid-row: 2/3;
  margin-right: 8px;
  margin-top: 1px;
  margin-bottom: 29px;
}

.searching-results__item-price {
  grid-column: 4/5;
  grid-row: 2/3;

  margin-bottom: 29px;
}

.searching-results__more-details {
  display: block;
  box-sizing: border-box;
  min-width: 119px;
  padding: 9px 31px 8px 31px;
  margin-right: 7px;
  grid-column: 3/4;
  grid-row: 3/4;

  font-size: 16px;
  color: var(--basic-white);

  border-radius: 4px;
}

.searching-results__more-details:hover {
  background-color: var(--special-warm-dark);
  transition: background-color ease-in-out.2s;
}

.searching-results__more-details:focus {
  outline-width: 3px;
  outline-offset: -3px;
  outline-color: var(--special-cold-light);
  outline-style: solid;
  background-color: var(--special-warm-dark);
}

.searching-results__more-details:active {
  outline: none;
  color: var(--basic-white03);
}

.searching-results__to-favorites {
  display: block;
  min-width: 160px;
  padding: 8px 30px 7px 30px;

  grid-column: 4/5;
  grid-row: 3/4;

  font-size: 16px;
  line-height: 21px;
  text-align: center;

  border-radius: 4px;
  background-color: var(--special-cold-light);
}

.searching-results__to-favorites:hover {
  background-color: var(--special-cold-dark);
  transition: background-color ease-in-out.2s;
}

.searching-results__to-favorites:focus {
  outline-width: 3px;
  outline-offset: -3px;
  outline-color: var(--special-warm-dark);
  outline-style: solid;
  background-color: var(--special-cold-dark);
}

.searching-results__to-favorites:active {
  outline: none;
  color: var(--basic-white03);
}

.searching-results__to-favorites.in-favorites {
  background-color: var(--special-neutral-light);
  padding-right: 20px;
  padding-left: 20px;
}

.searching-results__to-favorites.in-favorites:hover {
  background-color: var(--special-neutral-dark);
  transition: background-color ease-in-out.2s;
}

.searching-results__to-favorites.in-favorites:focus {
  outline-width: 3px;
  outline-offset: -3px;
  outline-color: var(--special-warm-dark);
  outline-style: solid;
  background-color: var(--special-neutral-dark);
}

.searching-results__to-favorites.in-favorites:active {
  outline: none;
  color: var(--basic-white03);
}

.searching-results__rating-stars-list {
  max-width: 160px;
  grid-column: -1/-2;
  grid-row: 1/2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 1px;
}

.searching-results__rating-stars-item {
  width: 18px;
  height: 17px;
  background-image: url("../img/icons/star.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 17px;

  cursor: auto;
}

.searching-results__rating-stars-item:not(:last-child) {
  margin-right: 7px;
}


.searching-results__rating {
  width: 160px;
  margin: 0;
  padding: 9px 0 10px;
  grid-column: -1/-2;
  grid-row: 3/4;
  justify-self: end;

  font-size: 16px;
  text-align: center;
  text-transform: uppercase;

  background-color: var(--basic-light);
}

.searching-results__load-more {
  display: block;
  width: 625px;
  margin: 0 auto 32px auto;
  padding: 13px 0 17px 0;

  font-size: 20px;
  line-height: 26px;
  text-align: center;

  border-radius: 4px;
  background-color: var(--special-cold-light);
}

.searching-results__load-more:hover {
  background-color: var(--special-cold-dark);
  transition: background-color ease-in-out.2s;
}

.searching-results__load-more:focus {
  outline-width: 3px;
  outline-offset: -3px;
  outline-color: var(--special-warm-dark);
  outline-style: solid;
  background-color: var(--special-cold-dark);
}

.searching-results__load-more:active {
  outline: none;
  color: var(--basic-white03);
}

.pagination {
  display: flex;
  width: 1057px;
  padding: 27px 0;
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  width: 670px;
}

.pagination__item {
  min-width: 55px;
  min-height: 55px;
  margin: 0 8px 8px 0;
}

.pagination__link {
  display: flex;
  justify-content: center;
  padding: 15px 13px 17px 13px;

  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: var(--basic-white);

  background-color: var(--special-cold-light);
  border-radius: 4px;
}

.pagination__link_current {
  color: var(--basic-black);
  background-color: var(--basic-light);
}

.pagination__link:hover {
  background-color: var(--special-cold-dark);
  transition: background-color ease-in-out.2s;
}

.pagination__link:focus {
  outline-width: 3px;
  outline-offset: -3px;
  outline-color: var(--special-warm-light);
  outline-style: solid;
  background-color: var(--special-cold-dark);
}

.pagination__link:active {
  outline: none;
  color: var(--basic-white03);
}

.pagination__form {
  width: 386px;

  margin-left: auto;
}

.pagination__fieldset {
  display: flex;
  align-items: center;
}

.pagination__select-list-lable {
  margin-right: auto;

  line-height: 23px;
}
.pagination__select-list {
  display: block;
  width: 160px;
  height: 48px;
  margin: 4px 0;
  padding: 10px 14px;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: var(--basic-dark);

  background-image: url(..//img/icons/dropdown.svg);
  background-repeat: no-repeat;
  background-position: 125px 50%;

  border: 2px solid var(--basic-gray);
  border-radius: 4px;
  appearance: none;

  cursor: pointer;
}

.pagination__select-list:hover {
  outline-width: 3px;
  outline-offset: -3px;
  outline-style: solid;
  outline-color:var(--special-cold-light);
  transition: outline-width ease-in-out.2s,
              outline-offset ease-in-out.2s,
              outline-style ease-in-out.2s,
              background-color ease-in-out.2s;
}

.pagination__select-list:focus {
  outline-width: 3px;
  outline-offset: -3px;
  outline-style: solid;
  outline-color:var(--special-cold-light);
}

.pagination__select-list:active {
  opacity: 0.6;
}

.catalog-main .subscription {
  padding-top: 24px;
  padding-bottom: 21px;
  margin-bottom: 116px;
}

.catalog-main .subscription {
  background-image: none;
  background-color: inherit;
}

.catalog-main .subscription__title,
.catalog-main .subscription__subtitle {
  color: var(--basic-black);
}

/* popup-container */

.user-menu__popup-container {
  display: none;
  position: absolute;
  left: 50%;
  top: 50px;
  grid-template-rows: 1fr 60px;
  width: 400px;
  min-height: 230px;

  background-color: var(--basic-white);
  border-radius: 20px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);

  transform: translateX(-50%);
}
.user-menu__popup-show {
  display: grid;
}

.user-menu__popup-container::before {
  content: "";
  position: absolute;
  left: 50%;
  top:-9px;
  width: 20px;
  height: 9px;

  background-image: url("../img/icons/popup-vector.svg");
  background-position: center;
  background-repeat: no-repeat;

  transform:translateX(-50%);
}

.user-menu__item-container {
  padding: 25px;
}

.user-menu__popup-item {
  display: flex;
  justify-content: space-between;
  width: 350px;
  min-height: 47px;
}

.user-menu__popup-item + .user-menu__popup-item {
  margin-top: 26px;
}

.user-menu_popup-img-and-text-link {
  display: grid;
  grid-template-columns: 49px 16px auto;
  grid-template-rows: 19px;
}

.user-menu_popup-img-and-text-link:hover {
  opacity: 0.6;
  transition: opacity ease-in-out.2s;
}

.user-menu_popup-img-and-text-link:focus {
  outline-width: 3px;
  outline-offset: 7px;
  outline-style: solid;
  outline-color:var(--special-cold-light);
  border-radius: 10px;
}

.user-menu_popup-img-and-text-link:active {
  opacity: 0.3;
  outline: none;
}

.user-menu__popup-item-image {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 47px;
  height: 45px;

  object-fit: cover;
  border-radius: 50%;
}

.user-menu__popup-item-title {
  grid-column: 3/4;
  grid-row: 1/2;

  display: flex;
  align-items: center;

  margin: 3px 0 0 0;
  font-weight: 700;
}

.user-menu__popup-item-info {
  grid-column: 3/4;
  grid-row: 2/3;

  display: flex;
  align-items: center;

  margin: 0 0 3px 0;
  font-size: 16px;
}

.user-menu__popup-item-delete {
  position: relative;
  left: 10px;
  top: -3px;

  width: 36px;
  height: 36px;

  background-color: inherit;
  border: none;
  opacity: 0.2;
  cursor: pointer;
}

.user-menu__popup-item-delete:hover {
  opacity: 1;
  transition: opacity ease-in-out.2s;
}

.user-menu__popup-item-delete:focus {
  opacity: 1;
  outline-width: 3px;
  outline-offset: -3px;
  outline-style: solid;
  outline-color:var(--special-cold-light);
  border-radius: 10px;
}

.user-menu__popup-item-delete:active {
  opacity: 0.1;
  outline: none;
}


.user-menu__popup-button {
  padding: 0;

  font-size: 16px;
  line-height: 21px;

  border-radius: 0px 0px 20px 20px;
}

.user-menu__popup-button:hover {
  background-color: var(--special-warm-dark);
  transition: background-color ease-in-out.2s;
}

.user-menu__popup-button:focus {
  outline-width: 3px;
  outline-style: solid;
  outline-color:var(--special-cold-light);
  background-color: var(--special-warm-dark);
}

.user-menu__popup-button:active {
  color: var(--basic-white03);
  background-color: var(--special-warm-dark);
  outline: none;
}

/* modal-container  */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgba(242, 242, 242, 0.8);

  z-index: 2;
}

.modal-container-show {
  display: flex;
}

.page-modal {
  position: relative;
  box-sizing: border-box;
  margin: auto;
  padding: 58px 70px 66px 70px;
  width: 715px;

  background-color: var(--basic-white);

  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.page-modal__close {
  position: absolute;
  top: 54px;
  right: 70px;

  padding: 20px;
  width: 53px;
  height: 53px;

  background-color:var(--basic-light);

  border: none;
  border-radius: 50%;

  background-image: url("../img/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

.page-modal__close:hover {
  background-color:var(--basic-gray);
  transition: background-color ease-in-out.2s;
}

.page-modal__close:focus {
  outline-width: 3px;
  outline-style: solid;
  outline-color:var(--special-cold-light);
  background-color:var(--basic-gray);
  transition: outline-width ease-in-out.2s,
              outline-style ease-in-out.2s,
              outline-color ease-in-out.2s,
              background-color ease-in-out.2s;
}

.page-modal__close:active {
  outline: none;
  opacity: 0.3;
}

.page-modal__title {
  margin: 0 0 64px 0;

  line-height: 40px;
  font-size: 30px;
  text-transform: uppercase;
}

.page-modal__label {
  line-height: 40px;
  font-weight: 700;
}

.page-modal__label.children {
  line-height: 40px;
  font-weight: 700;

  background-image: url(../img/icons/info.svg);
  background-repeat: no-repeat;
  background-position: 54px 10px;
}

.page-modal__label.children:hover {
  background-image: url(../img/icons/info-hover.svg);
  transition: background-image ease-in-out.2s;
}

.page-modal__item {
  position:relative;
  top:-3px;
  display: grid;
  grid-template-columns: 157px 419px;
  grid-template-rows: 50px 29px;
  align-items: stretch;

  margin-bottom: 11px;
}

.page-modal__item:last-child {
  margin-bottom: 0;
}

.page-modal__item:last-child {
  margin-bottom: 14px;
}

.page-modal__label {
  grid-column: 1/2;
  grid-row: 1/2;

  align-self: center;

  cursor: pointer;
}

.page-modal__input-date {
  grid-column: 2/3;
  grid-row: 1/2;

  box-sizing: border-box;
  padding: 10px 35px 10px 19px;

  font-family: inherit;
  font-size: 18px;
  font-weight: 700;

  background-color: var(--basic-light);
  background-image: url(../img/icons/date.svg);
  background-repeat: no-repeat;
  background-position: 386px 50%;

  border:none;
  border-radius: 4px;
  cursor: pointer;
}

.page-modal__input-date:hover {
  background-color: var(--basic-gray);
  transition: background-color ease-in-out.2s;
}

.page-modal__input-date:focus {
  outline-width: 3px;
  outline-style: solid;
  outline-color:var(--special-cold-light);
  background-color:var(--basic-gray);
}

.page-modal__input-date:active {
  outline-width: 2px;
  outline-offset: -2px;
  outline-style: solid;
  outline-color:var(--basic-black);
  background-color:var(--basic-white);
}

.page-modal__info {
  position:relative;
  top: -13px;

  grid-column: 2/3;
  grid-row: 2/3;

  font-size: 16px;
}

.page-modal__input-number-container {
  display: grid;
  grid-template-columns: 155px 133px 56px 97px 133px;
}

.page-modal__input-and-buttons-container {
  position: relative;
}



.page-modal__label.adult {
  grid-column: 1/2;
}

.page-modal__input-and-button-container.adult {
  grid-column: 2/3;
}

.page-modal__label.children {
  grid-column: 4/5;
  padding-right: 45px;
}

.page-modal__input-and-buttons-container.children {
  grid-column: 5/6;
}

.page-modal__input-number-container {
  position: relative;
  top:-3px;
  margin-bottom: 40px;
}

.page-modal__input-number {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 20px;


  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  text-align: center;

  background-color: var(--basic-light);

  border:none;
  border-radius: 4px;
  cursor: pointer;
}

.page-modal__button-minus,
.page-modal__button-plus {
  position: relative;
  width: 25px;
  height: 25px;

  background-color: inherit;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.page-modal__button-minus:hover .page-modal__mark-minus-adult::before,
.page-modal__button-minus:hover .page-modal__mark-minus-children::before,
.page-modal__button-plus:hover .page-modal__mark-plus-adult::before,
.page-modal__button-plus:hover .page-modal__mark-plus-adult::after,
.page-modal__button-plus:hover .page-modal__mark-plus-children::before,
.page-modal__button-plus:hover .page-modal__mark-plus-children::after  {
  opacity: 1;
  transition: opacity ease-in-out.2s;
}

.page-modal__button-minus:focus .page-modal__mark-minus-adult::before,
.page-modal__button-minus:focus .page-modal__mark-minus-children::before,
.page-modal__button-plus:focus .page-modal__mark-plus-adult::before,
.page-modal__button-plus:focus .page-modal__mark-plus-adult::after,
.page-modal__button-plus:focus .page-modal__mark-plus-children::before,
.page-modal__button-plus:focus .page-modal__mark-plus-children::after {
  opacity: 1;
}
.page-modal__button-plus:focus,
.page-modal__button-minus:focus {
  outline-width: 3px;
  outline-style: solid;
  outline-color:var(--special-cold-light);
}

.page-modal__button-minus:active .page-modal__mark-minus-adult::before,
.page-modal__button-minus:active .page-modal__mark-minus-children::before,
.page-modal__button-plus:active .page-modal__mark-plus-adult::before,
.page-modal__button-plus:active .page-modal__mark-plus-adult::after,
.page-modal__button-plus:active .page-modal__mark-plus-children::before,
.page-modal__button-plus:active .page-modal__mark-plus-children::after {
  opacity: 0.2;
}

.page-modal__button-plus:active,
.page-modal__button-minus:active {
  outline:none;
}

.page-modal__button-minus.adult {
  position: absolute;
  top: 10px;
  left: 11px;

}
.page-modal__button-plus.adult {
  position: absolute;
  top: 10px;
  left: 95px;

}

.page-modal__button-minus.children {
  position: absolute;
  top: 10px;
  left: 18px;

}
.page-modal__button-plus.children {
  position: absolute;
  top: 10px;
  left: 95px;
}

.page-modal__mark-minus-adult::before {
  content: "";
  position: absolute;
  top:50%;
  left: 50%;

  width: 13px;
  height: 1px;
  background-color: var(--basic-black);

  transform:translateX(-50%) translateY(-50%);
  opacity: 0.3;
}

.page-modal__mark-plus-adult::before {
  content: "";
  position: absolute;
  top:50%;
  left: 50%;

  width: 13px;
  height: 1px;
  background-color: var(--basic-black);

  transform:translateX(-50%) translateY(-50%);
  opacity: 0.3;
}

.page-modal__mark-plus-adult::after {
  content: "";
  position: absolute;
  top:50%;
  left: 50%;

  width: 13px;
  height: 1px;
  background-color: var(--basic-black);

  transform:translateX(-50%) translateY(-50%) rotate(90deg);
  opacity: 0.3;
}

.page-modal__mark-minus-children::before {
  content: "";
  position: absolute;
  top:50%;
  left: 50%;

  width: 13px;
  height: 1px;
  background-color: var(--basic-black);

  transform: translateX(-50%) translateY(-50%);
  opacity: 0.3;
}

.page-modal__mark-plus-children::before {
  content: "";
  position: absolute;
  top:50%;
  left: 50%;

  width: 13px;
  height: 1px;
  background-color: var(--basic-black);

  transform: translateX(-50%) translateY(-50%);
  opacity: 0.3;
}

.page-modal__mark-plus-children::after {
  content: "";
  position: absolute;
  top:50%;
  left: 50%;;

  width: 13px;
  height: 1px;
  background-color: var(--basic-black);

  transform: translateX(-50%) translateY(-50%) rotate(90deg);
  opacity: 0.3;
}

.page-modal__button {
  display: block;
  width: 100%;
  padding: 10px;

  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: var(--basic-white);
  text-transform: uppercase;

  background-color: var(--special-cold-light);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.page-modal__button:hover {
  background-color: var(--special-cold-dark);
  transition: background-color ease-in-out.2s;
}

.page-modal__button:focus {
  outline-width: 3px;
  outline-style: solid;
  outline-color:var(--special-warm-light);
  background-color: var(--special-cold-dark);
}

.page-modal__button:active {
  outline:none;

  color:var(--basic-white03);

  background-color: var(--special-cold-dark);
}


.page-modal__additional-info {
  display: none;
  position: absolute;
  box-sizing: border-box;

  top:50px;
  right: 35px;

  width: 256px;
  padding: 20px 18px 23px 23px;

  background-color: var(--basic-dark);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.page-modal__label.children:hover + .page-modal__additional-info {
  display: block;
  transition: display ease-in-out.2s;
}

.page-modal__additional-info-text {
  width: 216px;
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  color: var(--basic-white);
}

.page-modal__additional-info::before {
  content: "";
  position: absolute;
  top:-8px;
  left: 119px;

  width: 18px;
  height: 23px;

  background-image: url(../img/icons/modal-vector.svg);
  background-repeat: no-repeat;
  background-position: center top;
}
