@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Variables */
:root {
  --basic-black: #000000;
  --basic-black06:rgba(0, 0, 0, 0.6);
  --basic-white: #FFFFFF;
  --basic-white03: rgb(255, 255, 255, 0.3);
  --basic-dark: #333333;
  --basic-gray: #E6E6E6;
  --basic-light: #F2F2F2;
  --special-cold-light: #83b3d3;
  --special-cold-light12: rgba(131, 179, 211, 0.12);
  --special-cold-light20: rgba(131, 179, 211, 0.2);
  --special-warm-light: #756257;
  --special-neutral-light: #7DB54F;
  --basic-background: #8fadba;
  --basic-background-input:#F2F2F2;
}

/* Global styles*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: var(--basic-black);

  background-color: var(--basic-white);
}

img {
  display: block;
}

.title {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  margin: 0;
  padding: 0;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.button {
  font-family: inherit;
  color: var(--basic-white);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  border: none;
  background-color: var(--special-warm-light);
}

.link-reset {
  color: inherit;
  text-decoration: none;
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.fieldset-reset {
  margin: 0;
  padding: 0;

  border: none;
}

/* header */

.page-header {
  display: flex ;
  padding: 0 60px;

  outline: tomato solid 5px;
  outline-offset: -5px;
}

.main-menu {
  width: 340px;
  margin-right: 135px;

  outline: tomato solid 5px;
  outline-offset: -5px;
}

.main-menu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.main-menu__item {
  margin: 13px 3px;
}

.main-menu__link {
  display: block;
  padding: 6px 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.logo {
  display: block;
  width: 138px;
  height: 65px;
  margin: 0;
  margin-right: 205px;

  outline: tomato solid 5px;
  outline-offset: -5px;
}

.page-header .logo__image {
  position: relative;
  z-index: 1;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 270px;

  outline: tomato solid 5px;
  outline-offset: -5px;
}

.user-menu__item {
  margin-right: 10px;
  margin-bottom: 3px;
}

.user-menu__link {
  display: block;
  min-width: 18px;
  min-height: 18px;
  padding: 10px;

  font-size: 16px;
  color: var(--basic-white);
}

.button.user-menu__link {
  padding: 10px 34px;
}

/* index-main */

.index-main {
  flex-grow: 1;

  outline: tomato solid 5px;
  outline-offset: -5px;
}

.introduction__banner {
  height: 485px;
  margin-bottom: 63px;

  background-color:var(--basic-background);
  background-image: url("../img/backgrounds/introduction.jpg");
}

.introduction__title {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 35px;

  outline: tomato solid 5px;
  outline-offset: -5px;
}

.introduction__subtitle {
  margin-bottom: 85px;

  outline: tomato solid 5px;
  outline-offset: -5px;
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
}
.benefits__item.real-town {
  display: flex;
  flex-wrap: wrap;
}

.benefits__item:nth-child(3),
.benefits__item:nth-child(5){
  background-color: var(--special-cold-light12);
}
.benefits__item:nth-child(4) {
  background-color: var(--special-cold-light20);
}

.benefits__item-text-wrapper {
  box-sizing: border-box;
  width: 400px;
  min-height: 384px;
  padding-top: 98px;
}

.benefits__item:nth-child(1) .benefits__item-text-wrapper,
.benefits__item:nth-child(2) .benefits__item-text-wrapper{
  background-color: var(--special-cold-light);
}

.benefits__image {
  width: 800px;
  height: 384px;
}

.real-town-benefits-list {
  display:flex;
  flex-wrap: wrap;

  background-color: var(--basic-white);
}

.real-town-benefits-list__item {
  box-sizing: border-box;
  width: 400px;
  min-height: 384px;
  padding-top: 186px;
}

.real-town-benefits-list__item:nth-child(1),
.real-town-benefits-list__item:nth-child(3) {
  background-color: var(--special-cold-light12);
}

.benefits__item.bridge {
  display: flex;
  flex-wrap: wrap;
}

.benefits__item.area,
.benefits__item.road,
.benefits__item.tourists {
  width: 400px;
  min-height: 384px;
}

.benefits__title,
.real-town-benefits-list__title {
  width: 171px;
  margin: 0 auto;
  margin-bottom: 28px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
}

.real-town-benefits-list__title {
  margin-bottom: 18px;
}

.benefits__item:nth-child(1) .benefits__title,
.benefits__item:nth-child(2) .benefits__title {
  color: var(--basic-white);
}

.benefits__number,
.benefits__description,
.real-town-benefits-list__description {
  margin: 0 auto;
  text-align: center;
}

.benefits__number{
  margin-bottom: 30px;
}

.benefits__description {
  width: 250px;
}

.benefits__item.real-town .benefits__description {
  width: 220px;
}

.real-town-benefits-list__item.housing .real-town-benefits-list__description {
  width: 170px;
}

.real-town-benefits-list__item.food .real-town-benefits-list__description {
  width: 230px;
}

.real-town-benefits-list__item.souvenirs .real-town-benefits-list__description {
  width: 210px;
}

.benefits__item:nth-child(1) .benefits__number,
.benefits__item:nth-child(2) .benefits__number,
.benefits__item:nth-child(1) .benefits__description,
.benefits__item:nth-child(2) .benefits__description {
  color: var(--basic-white);
}

.hotel-search {
  padding: 89px 0;

  outline: tomato solid 5px;
  outline-offset: -5px;
}

.hotel-search__title {
  margin-bottom: 30px;
}

.hotel-search__subtitle {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 60px;

  text-align: center;

  outline: tomato solid 5px;
  outline-offset: -5px;
}

.hotel-search__link {
  display: block;
  box-sizing: border-box;
  width: 575px;
  margin: 0 auto;
  padding: 13px 145px;

  font-size: 20px;
  line-height: 36px;
  color: var(--basic-white);

  border-radius: 10px;

  outline: tomato solid 5px;
  outline-offset: -5px;
}

.subscription {
  width: 1200px;
  padding: 94px 0;
  background-color: var(--basic-background);
  background-image: url("../img/backgrounds/subscrubes.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;

  outline: tomato solid 5px;
  outline-offset: -5px;
}

.subscription__title {
  margin-bottom: 28px;
}

.subscription__subtitle {
  width: 470px;
  margin: 0 auto;
  margin-bottom: 49px;
}

.subscription__title,
.subscription__subtitle {
  color: var(--basic-white);

  outline: tomato solid 5px;
  outline-offset: -5px;
}

.subscription__form {
  width: 800px;
  margin: 0 auto;

  display: flex;
}

.subscription__input {
  box-sizing: border-box;
  width: 600px;
  padding: 16px 22px;

  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  font-size: 18px;

  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
  border: none;
  background-color: var(--basic-background-input);
}

.subscription__input::-webkit-input-placeholder {
  line-height: 26px;
  color: var(--basic-black06);
}
.subscription__input::-moz-placeholder {
  line-height: 26px;
  color: var(--basic-black06);
}
.subscription__input:-ms-input-placeholder {
  line-height: 26px;
  color: var(--basic-black06);
}
.subscription__input::-ms-input-placeholder {
  line-height: 26px;
  color: var(--basic-black06);
}
.subscription__input::placeholder {
  line-height: 26px;
  color: var(--basic-black06);
}

.subscription__button-submit {
  padding: 16px 34px;

  font-size: 20px;
  line-height: 26px;
  color: var(--basic-white);
  text-transform: uppercase;

  border: none;
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
  background-color: var(--special-cold-light);
}

/* Footer */

.page-footer {
  display: flex;

  padding: 0 60px;
  padding-top: 36px;
  padding-bottom: 30px;
}

.page-footer__socials-list {
  width: 126px;

  display: flex;
  flex-wrap: wrap;

  outline: tomato solid 5px;
  outline-offset: -5px;
}
.socials-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 40px;
  margin-right: 3px;
  margin-bottom: 3px;
}
.socials-list__item:nth-child(3n) {
  margin-right: 0;
}

.socials-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.page-footer__contact-phone {
  margin: 0 auto;
}
.contact-phone__link {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: var(--basic-black);

  text-decoration: none;

  outline: tomato solid 5px;
  outline-offset: -5px;
}

.page-footer__logo-link {
  align-self: center;
  margin-right: 12px;
}

.logo-site-developer__image {
  width: 115px;
  height: 34px;

  outline: tomato solid 5px;
  outline-offset: -5px;
}

/* catalog-main */

.catalog-main {
  flex-grow: 1;
}

.bread-crumbs-and-searching-filter-wrapper {
  padding: 33px 70px;
  margin-bottom: 83px;

  background-color: var(--basic-black06);
  background-image: url("../img/backgrounds/searching-filter.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.bread-crumbs {
  margin-bottom: 30px;
}

.bread-crumbs__title {
  margin: 0;
  padding: 0;

  font-size: 60px;
  line-height: 78px;
  color: var(--basic-white);
}

.bread-crumbs__list {
  display: flex;
  flex-wrap: wrap;
}

.bread-crumbs__item {
  display: block;
  box-sizing: border-box;
  min-height: 27px;
  min-width: 28px;
  margin: 0;
  margin-right: 6px;
  margin-bottom: 6px;

  font-size: 16px;
  color: var(--basic-white);

  outline: tomato solid 5px;
  outline-offset: -5px;
}

.searching-filter__form {
  display: flex;

  outline: tomato solid 5px;
  outline-offset: -5px;
}

.searching-filter__list {
  display: flex;
  width: 827px;

  outline: tomato solid 5px;
  outline-offset: -5px;
}

.searching-filter__item {
  min-height: 150px;
}

.searching-filter__item.input-checkbox,
.searching-filter__item.input-radio {
  width: 155px;

  outline: tomato solid 5px;
  outline-offset: -5px;
}

.searching-filter__item.input-checkbox {
  margin-right: 60px;
}

.searching-filter__item.price {
  width: 297px;
  margin-left: auto;

  outline: tomato solid 5px;
  outline-offset: -5px;
}

.searching-filter__legend {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: var(--basic-white);
}

.searching-filter__label {
  padding-left: 18px;

  font-size: 18px;
  line-height: 23px;
  color: var(--basic-white);
}

.searching-filter__inner-item {
  margin-bottom: 14px;
}

.searching-filter__scale {
  width: 287px;
  height: 4px;

  background-color: var(--basic-white03);
}

.searching-filter__bar {
  width: 227px;
  height: 4px;

  background-color: var(--basic-white);
}

.searching-filter__toggle {
  width: 20px;
  height: 20px;

  background-color: var(--basic-white);
  border-radius: 5px;
}

.searching-filter__min-price-input,
.searching-filter__max-price-input {
  font-size: 18px;
  line-height: 23px;
  color: var(--basic-white);

  background-color: inherit;
}

.searching-filter__fieldset.price .searching-filter__label {
  color: var(--basic-white03);
}

.searching-filter__button-wrapper {
  width: 167px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.searching-filter__submit {
  margin: 5px;
  margin-top:auto;
  padding: 15px 35px;

  font-size: 16px;
  line-height: 21px;

  border-radius: 4px;
  background-color: var(--special-cold-light);
}

.searching-filter__reset {

  padding: 14px 35px;

  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  color: var(--basic-white);

  border: none;
  background-color: inherit;
}

.searching-results {
  padding: 0 70px;
  margin-bottom: 30px;
}

.searching-results__container {
  display: flex;
  margin-bottom: 33px;

  outline: tomato solid 5px;
  outline-offset: -5px;
}

.searching-results__text {
  width: 340px;
  margin: 0;
  margin-right: 192px;

  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;

  outline: tomato solid 5px;
  outline-offset: -5px;
}

.searching-results__price-list {
  width: 285px;
  padding: 10px 18px;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: var(--basic-dark);
}

.searching-results__form {
  margin-right: auto;

  outline: tomato solid 5px;
  outline-offset: -5px;
}

.searching-results__form fieldset {
  margin: 0;
  padding: 0;
}

.searching-results__display-list {
  width: 163px;
  display: flex;
  flex-wrap: wrap;

  outline: tomato solid 5px;
  outline-offset: -5px;
}

.searching-results__display-item {
  min-width: 48px;
  min-height: 48px;
  margin-right: 8px;
  margin-bottom: 8px;

  outline: tomato solid 5px;
  outline-offset: -5px;
}

.searching-results__display-item:nth-child(3n) {
  margin-right: 0;
}

.searching-results__list {
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;

  outline: tomato solid 5px;
  outline-offset: -5px;
}

.searching-results__item {
  display: flex;
  padding: 24px 0;

  outline: tomato solid 5px;
  outline-offset: -5px;
}

.searching-results__item:not(:last-child) {
  margin-bottom: 7px;
}

.searching-results__item-image {
  width: 180px;
  height: 120px;

  margin-right: 36px;
}

.searching-results__item-container {
  flex-grow: 1;
  min-width: 320px;

  outline: tomato solid 5px;
  outline-offset: -5px;
}

.searching-results__item-title {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

.searching-results__name-and-price-container {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  padding-bottom: 35px;
}

.searching-results__item-name,
.searching-results__item-price {
  width: 160px;
  margin: 0;
  padding: 0;

  line-height: 23px;
  color: var(--basic-dark);
}

.searching-results__buttons-container {
  display: flex;
}

.searching-results__more-details {
  display: block;
  padding:10px 32px;
  margin-right: 8px;

  font-size: 16px;
  color: var(--basic-white);

  border-radius: 4px;
}

.searching-results__to-favorites {
  display: block;
  padding:10px 30px;

  font-size: 16px;
  line-height: 21px;
  text-align: center;

  border-radius: 4px;
  background-color: var(--special-cold-light);
}

.searching-results__to-favorites.in-favorites {
  background-color: var(--special-neutral-light);
}

.searching-results__rating {
  width: 160px;
  margin: 0;
  margin-top: auto;
  padding: 10px 0;

  font-size: 16px;
  text-align: center;
  text-transform: uppercase;

  background-color: var(--basic-light);

  outline: tomato solid 5px;
  outline-offset: -5px;
}

.searching-results__load-more {
  display: block;
  width: 625px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 13px 0;

  font-size: 20px;
  line-height: 26px;
  text-align: center;

  border-radius: 4px;
  background-color: var(--special-cold-light);
}

.pagination {
  display: flex;
  width: 1057px;
  padding: 30px 0;

  outline: tomato solid 5px;
  outline-offset: -5px;
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  width: 670px;
}

.pagination__item {
  min-width: 55px;
  min-height: 55px;

  margin-right: 8px;
  margin-bottom: 8px;

  outline: tomato solid 5px;
  outline-offset: -5px;
}

.pagination__link {
  display: flex;
  justify-content: center;

  padding: 17px;

  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: var(--basic-white);

  background-color: var(--special-cold-light);
}

.pagination__link_current {
  color: var(--basic-black);
  background-color: var(--basic-light);
}

.pagination__form {
  width: 386px;

  margin-left: auto;
}

.pagination__fieldset {
  display: flex;
  align-items: center;
}

.pagination__select-list-lable {
  margin-right: auto;

  line-height: 23px;
}
.pagination__select-list{
  display: block;
  width: 160px;
  height: 48px;
  margin: 4px 0;
}

.catalog-main .subscription {
  padding: 18px 0;
  padding-bottom: 139px;
}

.catalog-main .subscription {
  background-image: none;
  background-color: inherit;
}

.catalog-main .subscription__title,
.catalog-main .subscription__subtitle {
  color: var(--basic-black);
}
